<a href="https://colab.research.google.com/github/hoangminhanh/twsm-homework/blob/main/HW3_TextRepresentation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pickle
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.preprocessing import Binarizer
from gensim.corpora import Dictionary
from gensim.models import TfidfModel
import numpy as np

In [2]:
from google.colab import drive 
drive.mount("/content/drive")

Mounted at /content/drive

In [24]:
# Importing the Stemmed data from Google Drive

data_path = "/content/drive/MyDrive/TWSM"
infile = open(data_path+'/Stemmed.pkl','rb')
data = pickle.load(infile)

data_stemmed = pd.DataFrame(data, columns=["stemmed_text"])
data_stemmed.head()

                                        stemmed_text
0  wonder enlighten car saw dai door sport car lo...
1  nntp post host carson washington edu fair numb...
2  folk mac plu final gave ghost weekend start li...
3  nntp post host amber ssd csd harri com robert ...
4  articl cowcb world std com tombak world std co...

BAG-OF-WORDS

In [4]:
# Counting the the absolute number of apearraces of a word
absolute = CountVectorizer(max_df=0.95, min_df=0.05)

# Calculating the relative frequency of a word 
relative = TfidfVectorizer(max_df=0.95, min_df=0.05,use_idf=False, norm='l1')

# Calculating 
tf_idf = TfidfVectorizer(max_df=0.95, min_df=0.05, smooth_idf=False)

In [5]:
absolute_stemmed = absolute.fit_transform(data)
relative_stemmed = relative.fit_transform(data)
tf_idf_stemmed = tf_idf.fit_transform(data)

In [30]:
absolute_df = pd.DataFrame(absolute_stemmed.toarray(), columns=absolute.get_feature_names_out())
absolute_df.head()

,abl,accept,access,actual,address,advanc,ago,agre,allow,american,...,won,wonder,word,work,world,write,wrong,wrote,ye,year
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,1,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,2,1,0,0,1,0

In [31]:
relative_df = pd.DataFrame(relative_stemmed.toarray(), columns=relative.get_feature_names_out())
relative_df.head()

,abl,accept,access,actual,address,advanc,ago,agre,allow,american,...,won,wonder,word,work,world,write,wrong,wrote,ye,year
0,0.0,0.0,0.000000,0.000000,0.00,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.066667,0.0,0.0,0.00,0.00,0.0,0.00,0.00,0.066667
1,0.0,0.0,0.000000,0.000000,0.00,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.00,0.00,0.0,0.00,0.00,0.000000
2,0.0,0.0,0.018868,0.018868,0.00,0.018868,0.0,0.0,0.0,0.0,...,0.0,0.018868,0.0,0.0,0.00,0.00,0.0,0.00,0.00,0.000000
3,0.0,0.0,0.000000,0.000000,0.04,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.00,0.04,0.0,0.04,0.00,0.000000
4,0.0,0.0,0.000000,0.000000,0.00,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.040000,0.0,0.0,0.08,0.04,0.0,0.00,0.04,0.000000

In [32]:
tf_idf_df = pd.DataFrame(tf_idf_stemmed.toarray(), columns=tf_idf.get_feature_names_out())
tf_idf_df.head()

,abl,accept,access,actual,address,advanc,ago,agre,allow,american,...,won,wonder,word,work,world,write,wrong,wrote,ye,year
0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.200684,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.145873
1,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
2,0.0,0.0,0.133061,0.114284,0.000000,0.132046,0.0,0.0,0.0,0.0,...,0.0,0.129411,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
3,0.0,0.0,0.000000,0.000000,0.259148,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.000000,0.108045,0.0,0.242562,0.000000,0.000000
4,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.215611,0.0,0.0,0.389158,0.092467,0.0,0.000000,0.210411,0.000000

In [23]:
binarizer = Binarizer()

absolute_stemmed_bi = binarizer.fit_transform(absolute_stemmed)

print(absolute_stemmed.toarray().max())
print(absolute_stemmed_bi.toarray().max())

302
1

In [45]:
first_doc_df = pd.DataFrame(np.array(np.unique(data_stemmed.iloc[0,0].split())).T, columns=["keys"]) # Splitting the stemmed text of the first document into separate words
first_doc_df = pd.merge(first_doc_df, absolute_df.iloc[0,:], how="left", left_on="keys", right_index=True)
first_doc_df = pd.merge(first_doc_df, relative_df.iloc[0,:], how="left", left_on="keys", right_index=True)
first_doc_df = pd.merge(first_doc_df, tf_idf_df.iloc[0,:], how="left", left_on="keys", right_index=True)
first_doc_df = pd.merge(first_doc_df, pd.DataFrame(absolute_stemmed_bi.toarray(), columns=absolute.get_feature_names()).iloc[0,:], how="left", left_on="keys", right_index=True)

first_doc_df.columns = ["keys", "absolute", "relative", "TF-IDF", "OHE"]
first_doc_df.fillna(0, inplace=True)
first_doc_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: Passing 'suffixes' which cause duplicate columns {'0_x'} in the result is deprecated and will raise a MergeError in a future version.
  """

       keys  absolute  relative    TF-IDF  OHE
0     addit       0.0  0.000000  0.000000  0.0
1      bodi       0.0  0.000000  0.000000  0.0
2  bricklin       0.0  0.000000  0.000000  0.0
3    bumper       0.0  0.000000  0.000000  0.0
4      call       1.0  0.066667  0.176262  1.0

In [46]:
# Sort the df based on descending tf-idf

first_doc_df.sort_values("TF-IDF", ascending=False).head()

      keys  absolute  relative    TF-IDF  OHE
5      car       4.0  0.266667  0.808563  1.0
16    look       2.0  0.133333  0.282071  1.0
23   small       1.0  0.066667  0.209464  1.0
9    engin       1.0  0.066667  0.203003  1.0
28  wonder       1.0  0.066667  0.200684  1.0

In [47]:
# Sort the df based on descending absolute frequency

first_doc_df.sort_values("absolute", ascending=False).head()

    keys  absolute  relative    TF-IDF  OHE
5    car       4.0  0.266667  0.808563  1.0
16  look       2.0  0.133333  0.282071  1.0
29  year       1.0  0.066667  0.145873  1.0
6    dai       1.0  0.066667  0.166123  1.0
14  know       1.0  0.066667  0.115416  1.0

BAG-OF-WORDS (Gensim)

In [11]:
corpus_gen = [doc.split() for doc in data]

In [12]:
from gensim import corpora
id2word = corpora.Dictionary(corpus_gen)

In [13]:
id2word.filter_extremes(no_below=566, no_above=0.95)

# This helps filter out tokens based on their frequency. In this case, it is tokens that are contained in at least 566 documents, and no more than 95% document

In [14]:
print(id2word.token2id) # token id

print(id2word.token2id.keys())

print(id2word.dfs) # document frequency = how many documents contain this token

{'call': 0, 'car': 1, 'dai': 2, 'engin': 3, 'know': 4, 'look': 5, 'mail': 6, 'small': 7, 'thank': 8, 'wonder': 9, 'year': 10, 'answer': 11, 'base': 12, 'card': 13, 'edu': 14, 'experi': 15, 'gui': 16, 'host': 17, 'messag': 18, 'nntp': 19, 'number': 20, 'post': 21, 'send': 22, 'access': 23, 'actual': 24, 'advanc': 25, 'better': 26, 'bit': 27, 'email': 28, 'expect': 29, 'feel': 30, 'good': 31, 'got': 32, 'great': 33, 'heard': 34, 'help': 35, 'life': 36, 'like': 37, 'line': 38, 'machin': 39, 'mayb': 40, 'new': 41, 'opinion': 42, 'peopl': 43, 'plai': 44, 'price': 45, 'probabl': 46, 'question': 47, 'read': 48, 'real': 49, 'recent': 50, 'start': 51, 'subject': 52, 'take': 53, 'time': 54, 'us': 55, 'wai': 56, 'address': 57, 'articl': 58, 'com': 59, 'far': 60, 'inform': 61, 'person': 62, 'phone': 63, 'point': 64, 'pretti': 65, 'requir': 66, 'system': 67, 'thing': 68, 'write': 69, 'wrote': 70, 'check': 71, 'mean': 72, 'possibl': 73, 'right': 74, 'set': 75, 'softwar': 76, 'tell': 77, 'understand': 78, 'world': 79, 'ye': 80, 'agre': 81, 'allow': 82, 'apr': 83, 'believ': 84, 'come': 85, 'consid': 86, 'control': 87, 'cost': 88, 'cours': 89, 'exist': 90, 'follow': 91, 'given': 92, 'govern': 93, 'hand': 94, 'hard': 95, 'hope': 96, 'john': 97, 'kill': 98, 'make': 99, 'need': 100, 'non': 101, 'power': 102, 'reason': 103, 'result': 104, 'sai': 105, 'state': 106, 'support': 107, 'todai': 108, 'file': 109, 'sure': 110, 'thought': 111, 'try': 112, 'accept': 113, 'avail': 114, 'correct': 115, 'data': 116, 'fact': 117, 'go': 118, 'list': 119, 'long': 120, 'note': 121, 'problem': 122, 'refer': 123, 'report': 124, 'said': 125, 'standard': 126, 'think': 127, 'true': 128, 'version': 129, 'appreci': 130, 'chang': 131, 'win': 132, 'bui': 133, 'design': 134, 'mention': 135, 'usual': 136, 'work': 137, 'wrong': 138, 'run': 139, 'want': 140, 'assum': 141, 'case': 142, 'christian': 143, 'david': 144, 'differ': 145, 'end': 146, 'exampl': 147, 'get': 148, 'god': 149, 'guess': 150, 'human': 151, 'kind': 152, 'littl': 153, 'live': 154, 'man': 155, 'mind': 156, 'second': 157, 'type': 158, 'current': 159, 'kei': 160, 'let': 161, 'major': 162, 'mark': 163, 'place': 164, 'provid': 165, 'sourc': 166, 'space': 167, 'team': 168, 'ask': 169, 'high': 170, 'includ': 171, 'old': 172, 'repli': 173, 'sound': 174, 'caus': 175, 'gener': 176, 'group': 177, 'happen': 178, 'origin': 179, 'abl': 180, 'big': 181, 'complet': 182, 'import': 183, 'program': 184, 'won': 185, 'word': 186, 'ago': 187, 'awai': 188, 'best': 189, 'book': 190, 'care': 191, 'claim': 192, 'close': 193, 'drive': 194, 'interest': 195, 'law': 196, 'rememb': 197, 'respons': 198, 'turn': 199, 'univers': 200, 'view': 201, 'seen': 202, 'matter': 203, 'tri': 204, 'window': 205, 'order': 206, 'fax': 207, 'free': 208, 'left': 209, 'isn': 210, 'lot': 211, 'larg': 212, 'week': 213, 'effect': 214, 'public': 215, 'have': 216, 'issu': 217, 'open': 218, 'talk': 219, 'game': 220, 'home': 221, 'bad': 222, 'american': 223, 'net': 224, 'idea': 225, 'area': 226, 'nation': 227, 'research': 228, 'discuss': 229, 'suggest': 230, 'internet': 231}
dict_keys(['call', 'car', 'dai', 'engin', 'know', 'look', 'mail', 'small', 'thank', 'wonder', 'year', 'answer', 'base', 'card', 'edu', 'experi', 'gui', 'host', 'messag', 'nntp', 'number', 'post', 'send', 'access', 'actual', 'advanc', 'better', 'bit', 'email', 'expect', 'feel', 'good', 'got', 'great', 'heard', 'help', 'life', 'like', 'line', 'machin', 'mayb', 'new', 'opinion', 'peopl', 'plai', 'price', 'probabl', 'question', 'read', 'real', 'recent', 'start', 'subject', 'take', 'time', 'us', 'wai', 'address', 'articl', 'com', 'far', 'inform', 'person', 'phone', 'point', 'pretti', 'requir', 'system', 'thing', 'write', 'wrote', 'check', 'mean', 'possibl', 'right', 'set', 'softwar', 'tell', 'understand', 'world', 'ye', 'agre', 'allow', 'apr', 'believ', 'come', 'consid', 'control', 'cost', 'cours', 'exist', 'follow', 'given', 'govern', 'hand', 'hard', 'hope', 'john', 'kill', 'make', 'need', 'non', 'power', 'reason', 'result', 'sai', 'state', 'support', 'todai', 'file', 'sure', 'thought', 'try', 'accept', 'avail', 'correct', 'data', 'fact', 'go', 'list', 'long', 'note', 'problem', 'refer', 'report', 'said', 'standard', 'think', 'true', 'version', 'appreci', 'chang', 'win', 'bui', 'design', 'mention', 'usual', 'work', 'wrong', 'run', 'want', 'assum', 'case', 'christian', 'david', 'differ', 'end', 'exampl', 'get', 'god', 'guess', 'human', 'kind', 'littl', 'live', 'man', 'mind', 'second', 'type', 'current', 'kei', 'let', 'major', 'mark', 'place', 'provid', 'sourc', 'space', 'team', 'ask', 'high', 'includ', 'old', 'repli', 'sound', 'caus', 'gener', 'group', 'happen', 'origin', 'abl', 'big', 'complet', 'import', 'program', 'won', 'word', 'ago', 'awai', 'best', 'book', 'care', 'claim', 'close', 'drive', 'interest', 'law', 'rememb', 'respons', 'turn', 'univers', 'view', 'seen', 'matter', 'tri', 'window', 'order', 'fax', 'free', 'left', 'isn', 'lot', 'larg', 'week', 'effect', 'public', 'have', 'issu', 'open', 'talk', 'game', 'home', 'bad', 'american', 'net', 'idea', 'area', 'nation', 'research', 'discuss', 'suggest', 'internet'])
{9: 702, 1: 683, 2: 1346, 5: 2159, 0: 1112, 7: 595, 4: 3498, 3: 672, 10: 1971, 6: 1381, 8: 2021, 19: 2335, 21: 3737, 17: 2420, 14: 6209, 20: 1160, 15: 608, 22: 740, 18: 802, 13: 642, 12: 886, 11: 741, 16: 585, 51: 1223, 36: 735, 56: 2191, 41: 2798, 39: 587, 27: 991, 40: 803, 47: 1575, 29: 581, 34: 726, 23: 631, 45: 599, 38: 980, 37: 3799, 50: 627, 46: 1113, 32: 1215, 30: 703, 26: 1215, 33: 940, 31: 2179, 42: 1006, 43: 2528, 55: 2501, 53: 638, 49: 907, 52: 626, 44: 764, 24: 1092, 35: 1462, 25: 650, 28: 772, 48: 1417, 54: 2774, 59: 3892, 70: 808, 69: 6080, 58: 4985, 60: 951, 65: 651, 66: 717, 64: 1555, 57: 630, 63: 705, 61: 1101, 67: 591, 68: 2067, 62: 1234, 79: 1015, 80: 769, 72: 1472, 78: 729, 76: 806, 71: 647, 74: 1825, 75: 969, 73: 1194, 77: 1205, 83: 2808, 97: 731, 102: 953, 99: 1102, 88: 583, 100: 1991, 87: 889, 93: 841, 104: 665, 101: 736, 90: 827, 106: 1344, 85: 1661, 84: 1434, 95: 811, 107: 953, 81: 661, 94: 785, 96: 770, 89: 1022, 105: 1268, 91: 1226, 98: 646, 103: 1287, 82: 728, 92: 670, 86: 955, 108: 683, 111: 904, 110: 1398, 112: 1619, 109: 816, 113: 617, 120: 1101, 122: 1769, 119: 750, 126: 665, 129: 580, 121: 782, 116: 614, 115: 568, 117: 1121, 114: 846, 124: 591, 125: 1298, 127: 2945, 128: 872, 118: 1303, 123: 681, 132: 578, 131: 905, 130: 678, 134: 572, 137: 2286, 138: 817, 136: 568, 135: 642, 133: 695, 139: 1375, 140: 2204, 144: 781, 146: 990, 145: 1332, 149: 822, 142: 1226, 155: 735, 143: 608, 156: 629, 154: 977, 147: 781, 152: 762, 153: 1102, 157: 854, 151: 573, 150: 588, 141: 639, 158: 653, 148: 1044, 163: 569, 167: 580, 161: 1314, 159: 785, 168: 571, 160: 616, 165: 758, 166: 633, 164: 1028, 162: 637, 170: 836, 174: 690, 171: 1123, 169: 1170, 172: 858, 173: 820, 177: 950, 178: 967, 179: 998, 175: 754, 176: 1141, 184: 982, 181: 730, 186: 844, 182: 613, 180: 824, 183: 617, 185: 689, 193: 622, 194: 862, 200: 1285, 197: 717, 199: 738, 192: 754, 196: 774, 188: 739, 187: 683, 195: 1124, 190: 642, 198: 757, 201: 600, 189: 991, 191: 634, 202: 785, 205: 975, 204: 568, 203: 628, 206: 814, 208: 667, 207: 602, 209: 639, 210: 799, 211: 1171, 212: 635, 213: 650, 214: 703, 215: 724, 216: 839, 219: 919, 218: 573, 217: 715, 220: 756, 221: 628, 222: 769, 223: 569, 224: 794, 225: 937, 226: 622, 227: 657, 228: 602, 229: 627, 230: 756, 231: 699}

In [36]:
# Convert document into the bag-of-words (BoW) format = list of (token_id, token_count) tuples.

corpus1=[id2word.doc2bow(doc) for doc in corpus_gen]

corpus1[0]

[(0, 1),
 (1, 4),
 (2, 1),
 (3, 1),
 (4, 1),
 (5, 2),
 (6, 1),
 (7, 1),
 (8, 1),
 (9, 1),
 (10, 1)]

In [37]:
# list of (token, relative frequency of token) tuples  

corpus2=[[(token[0],(token[1]/sum(n for _, n in doc))) for token in doc] for doc in corpus1]

corpus2[0]

[(0, 0.06666666666666667),
 (1, 0.26666666666666666),
 (2, 0.06666666666666667),
 (3, 0.06666666666666667),
 (4, 0.06666666666666667),
 (5, 0.13333333333333333),
 (6, 0.06666666666666667),
 (7, 0.06666666666666667),
 (8, 0.06666666666666667),
 (9, 0.06666666666666667),
 (10, 0.06666666666666667)]

In [38]:
# List of tokens that only appear once 
corpus3=[[(token[0],1) for token in doc] for doc in corpus1]

corpus3[0]

[(0, 1),
 (1, 1),
 (2, 1),
 (3, 1),
 (4, 1),
 (5, 1),
 (6, 1),
 (7, 1),
 (8, 1),
 (9, 1),
 (10, 1)]

In [18]:
tfidf=TfidfModel(dictionary=id2word, normalize=True)
corpus4=[tfidf[id2word.doc2bow(doc)] for doc in corpus_gen]

NGRAMS

In [19]:
ngram = CountVectorizer(ngram_range=(2,2), max_df=0.95, min_df=0.05)

ngram_stem = ngram.fit_transform(data)

In [20]:
ngram.get_feature_names()

# The features are all words containing 2 and max 2 tokens

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['articl apr', 'edu write', 'nntp post', 'post host', 'write articl']

In [21]:
ngram_df = pd.DataFrame(ngram_stem.toarray(), columns = ngram.get_feature_names())

ngram_df

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

       articl apr  edu write  nntp post  post host  write articl
0               0          0          0          0             0
1               0          0          1          1             0
2               0          0          0          0             0
3               0          1          1          1             1
4               0          0          0          0             0
...           ...        ...        ...        ...           ...
11309           0          0          0          0             0
11310           0          0          0          0             0
11311           0          0          0          0             0
11312           0          0          0          0             0
11313           0          0          1          1             0

[11314 rows x 5 columns]

In [22]:
print(ngram_df.max())

articl apr      4
edu write       2
nntp post       3
post host       3
write articl    4
dtype: int64